<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>ReallyGroup</title>
    <link rel="shortcut icon" href="../images/Fotoaparat.png" type="image/x-icon">
    <script src="//code.jquery.com/jquery-3.2.1.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.2.5/jquery.fancybox.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.2.5/jquery.fancybox.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <meta name="author" content="Vadim Scherbina">
 
    <link rel="stylesheet" type="text/css" href="/stylesheets/galary.css">
</head>



<body>

   <% include partials/header1 %>

    <% let i = 1;%>
    <div class="images">     
        <%for(let image of images){%>
            <div class="col-xs-6 col-sm-4 col-md-2 col-lg-2 product thumb">
            <%if(user){ %>
                    <form action="/galary/delete/<%=image.id %>" method="POST">
                        <input class="btn btn-danger" type="submit" value="Delete">
                    </form>
                <% } %>
                <a data-fancybox="gallery" href="<%=image.image_link%>">
                    <img src="<%=image.image_link%>" id="image" alt="image" class="image">  
                </a> 
                
            </div>
            
        <% } %>
    </div>

 
</body>
</html>



 <!--  <div class ="col-md-6 col-md-offset-3">
        <hr class="hor_line">
    </div>

    
    <div class="images">      
        <%for(let image of images){%>
                <div class="col-md-3 col-xs-12  product">
                    <a data-fancybox="gallery" href="<%=image.image_link%>">
                        <img src="<%=image.image_link%>" id="image" alt="img" class="img "> 
                    </a>
                    
                </div>
        </div>
        <% } %>

    </div>
-->
